.burger-menu {
  border: 1px solid rgb(255, 255, 255, .45);
  border-radius: 8px;
  padding: 12px 10px;
  background-color: transparent;
  cursor: pointer;
}

.burger-menu__lines {
  display: block;
  background: url(../../images/burger-menu.svg) no-repeat center;
  width: 28px;
  height: 24px;
}