.header__container {
  padding: 16px 24px 40px 24px;
  display: flex;
  column-gap: 32px;
}

@media (max-width: 550px) {
  .header__container {
    padding: 0 13px 25px 13px;
    justify-content: space-between;
  }
}

@media (max-width: 435px) {
  .header__container {
    column-gap: 16px;
  }
}