.order__info-block {
  display: flex;
  padding: 8px 8px 12px 8px;
  background-color: #F6F6FA;
  column-gap: 8px;
  border-radius: 8px;
}

@media (max-width: 550px) {
  .order__info-block {
    background-color: #F0ECF4;
  }
}