.item__price {
  grid-area: price;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  row-gap: 6px;
  width: 110px;
}

@media (max-width: 690px) {
  .item__price {
    display: none;
  }
}

