.order__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 550px) {
  .order__payment-info > .order__line {
    display: none;
  }
}