.order {
  min-width: 421px;
  position: relative;
  row-gap: 24px;
  height: fit-content;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1024px) {
  .order {
    min-width: 303px;
  }
}

@media (max-width: 820px) {
  .order {
    max-width: none;
  }
}

@media (max-width: 550px) {
  .order.container {
    background-color: transparent;
    box-shadow: none;
    margin-top: -8px;
    margin-bottom: -8px;
  }
}

@media (max-width: 435px) {
  .order.container{
    padding-top: 0;
  }
}