.header__search-icon {
  background: url(../../../images/search-icon.svg) no-repeat center;
  opacity: .4;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .header__search-icon {
    opacity: 1;
    width: 28px;
    height: 28px;
    align-self: center;
  }
}