.counter__number {
  border: none;
  padding: 0;
  background-color: inherit;
  width: 47px;
  text-align: center;
  line-height: 1.5;
  
  &:focus-visible {
    outline: none;
  }
}

@media (max-width: 550px) {
  .counter__number {
    width: 32px;
    font-size: 14px;
  }
}