.order__card-icon {
  background-color: #F6F6FA;
  border-radius: 4px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: url(../../../images/payment/mir-logo.svg) no-repeat center;
  }
}