.receiver__input {
  display: flex;
  column-gap: 24px;
}

@media (max-width: 690px) {
  .receiver__input {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .receiver__input {
    row-gap: 16px;
  }

  .receiver__input:first-of-type {
    margin-bottom: 16px;
  }
}

@media (max-width: 435px) {
  .receiver__input {
    row-gap: 8px;
  }

  .receiver__input:first-of-type {
    margin-bottom: 8px;
  }
}